<section class="d-flex flex-column text-center">
    <a class="back-to-dash" href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="title">Create new post</h2><hr>

  <form class="new-post-form">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" name="post-title" class="form-control">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Content</span>
        <textarea type="text" name="content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
</section>

<script src="/js/add-post.js"></script>