{{#each posts as |post|}}

{{> postdata post}}

{{else}}
<div class="d-flex justify-content-center">
    <h6 class="link text-center">There are currently no posts. Log in or sign up to start posting.</h6>
</div>
{{/each}}