{{>postdata post}}
{{#if logged_in}}
<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body comment-form" id="comment-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="post-title" name="post-title" class="form-input" />


        <label class="form-label" for="content">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comment post.comment}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}