{{> postdata post}}

{{#if logged_in}}
<form class="comment-form">
  <div class="form-floating">
    <textarea class="form-control" name="comment-body" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Add comment</label>
  </div>
  <div class="d-flex justify-content-center p-2">
    <button class="btn btn-primary comment-btn" type="submit">Add a Comment</button>
  </div>
  
</form>


{{> comment post.comment}}

<script src="/js/comment.js"></script>
{{/if}}