{{> postdata post}}
{{#if logged_in}}
  <div class="form-floating">
    <textarea class="form-control" name="comment-body" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Comments</label>
  </div>
  <div>
    <button class="btn comment-btn" type="submit">Add a Comment</button>
  </div>
  
</form>
{{/if}}

{{> comment post.comment}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}